@charset "UTF-8";
/* Body */
body {
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	margin: 0px;
  background-color: #717070;
}
h2 {
	font-family: raleway;
	text-align: center;
	font-size: 32px;
	letter-spacing: 2px;
  margin: 0px;
  padding-top: 25px;
}
h3 {
	text-align: center;
	font-weight: bolder;
	font-size: 30px;
	letter-spacing: 1px;
  margin: 0px;
  padding-top: 15px;
}
h4 {
	text-align: center;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 1px;
  margin: 0px;
  padding-top: 15px;
}
p {
	color: #717070;
	font-size: 16px;
	font-weight: lighter;
	letter-spacing: 1px;
	line-height: 22px;
	text-align: left;
  margin: 0px;
  padding-top: 15px;
}
a {
  color: #339CC9;
  text-decoration: none;
  margin: 0px;
  padding-top: 10px;
}
a:hover {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-bottom: 2px;
}
/* Container */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
}
/* Navigation */
header {
	width: 100%;
}
.logo {
	color: #FFF;
	font-weight: lighter;
	text-align: left;
	width: 25%;
	float: left;
	letter-spacing: 4px;
	font-size: 12px;
  margin-left: 2%;
}
.logo:hover {
	font-weight: normal;
}
nav {
	float: left;
	width: 72%;
	text-align: right;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFF;
	font-size: 10px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: lighter;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFF;
	text-decoration: none;
}
ul li:hover a {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-bottom: 3px;
}
/* Splash Section */
.splash {
	background-image: url(../images/viterbimag3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
  min-height: 500px;
}
.splash h2 {
	font-family: raleway;
	color: #FFF;
	text-align: center;
	margin-left: 15%;
  margin-right: 15%;
	letter-spacing: 4px;
	padding-top: 150px;
}
.splash p {
	color: #FFF;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
}
/* About Section */
.about {
	margin-bottom: 25px;
  margin-top: 25px;
  margin-left: 6%;
  margin-right: 6%;
	display: inline-block;
}
.about img {
  width: 25%;
  max-width: 250px;
  border-radius: 50%;
  margin-right: 50px;
  margin-bottom: 25px;
  float: left;
}
.about h3 {
	color: #3A3A3A;
  margin: 0px;
  text-align: left;
}
.about h4 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 16px;
	line-height: 22px;
	color: #656B6F;
  text-align: left;
}
.about p {
	text-align: justify;
}
/* Research */
.research {
	background-color: #4CBED1;
	display: inline-block;
}
.research h3 {
	color: #FFF;
  margin-top: 10px;
  margin-bottom: 5px;
}
.research_column {
	width: 41%;
	float: left;
	margin-left: 6%;
  margin-bottom: 20px;
}
.research .research_column img {
	width: 100%;
}
.research .research_column h4 {
	color: #FFF;
	margin-top: 0px;
  margin-bottom: 15px;
}
.research .research_column p {
	text-align: justify;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
  background-color: #FFF;
  display: flex;
}
/* Publications */
.publications {
	margin-left: 6%;
	margin-right: 6%;
  margin-bottom: 50px;
}
.publications h3 {
	color: #3A3A3A;
  margin-top: 10px;
}
.publications h4 {
  color: #3A3A3A;
	text-align: left;
}
.publications p {
  color: #656B6F;
	font-size: 16px;
}
.publications p strong {
  font-weight: 400;
}
.publications a:hover {
  font-weight: bold;
  text-decoration: none;
  border: none;
  padding: 0px;
}
.publications .best_paper .text {
  padding-left: 5px;
  visibility: hidden;
}
.publications .best_paper:hover .text {
  visibility: visible;
}
/* Outreach Section */
.outreach {
	background-color: #2D9AB7;
	background-image: url(../images/assembly.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.outreach .summary {
	display: inline-block;
	margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 10px;
}
.outreach .summary h3 {
	color: #FFF;
	text-align: left;
	letter-spacing: 2px;
  margin-top: 15px;
  margin-bottom: 0px;
}
.outreach .summary p {
	color: #FFF;
  font-weight: lighter;
	text-align: left;
	width: 35%;
	float: left;
	line-height: 23px;
  margin-top: 0px;
	margin-bottom: 15px;
}
.outreach .gallery {
	display: flex;
	width: 88%;
	margin-left: 6%;
	margin-right: 6%;
  padding-bottom: 25px;
}
.outreach .gallery .thumbnail {
	width: 23%;
	margin-right: 2%;
	text-align: center;
	float: left;
	background-color: rgba(255,255,255,0.9);
}
.outreach .gallery .thumbnail img {
	margin-top: 15px;
	width: 70%;
	border-radius: 50%;
}
.outreach .gallery .thumbnail h4 {
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
  font-size: 16px;
	color: #52BAD5;
}
.outreach .gallery .thumbnail p {
	text-align: center;
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
  font-size: 14px;
}
/* Skills */
.skills {
	margin-left: 6%;
	margin-right: 6%;
  margin-bottom: 15px;
  margin-top: 10px;
}
.skills table {
  padding-top: 10px;
}
.skills table th {
  font-weight: 400;
  font-size: 20px;
	letter-spacing: 1px;
	text-align: right;
  padding-bottom: 25px;
}
.skills table td {
  padding-left: 25px;
  padding-bottom: 25px;
  font-size: 18px;
  letter-spacing: 1px;
	font-weight: 300;
	text-align: left;
}
/* Footer */
footer {
  width: 100%;
	padding-bottom: 25px;
	background-image: url(../images/roboticsopenhouse.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: inline-block;
}
footer h3 {
  color: #FFF;
  text-align: right;
  margin-right: 6%;
}
footer p {
  color: #FFF;
  text-align: right;
  margin-right: 6%;
}
.button {
	width: 50px;
	margin-top: 25px;
  margin-right: 6%;
	float: right;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}
.footer a {
  color: #FFF;
}
.footer a:hover {
  color: #C4C4C4;
  text-decoration: none;
  border: none;
  padding: 0px;
}
.copyright {
	text-align: left;
	padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 6%;
  font-size: 12px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.hidden {
	display: none;
}

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
  margin: 0px;
  text-align: center;
}
h2 {
  font-size: 26px;  
}
  .splash h2 {
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 3%;
    margin-right: 3%;
  }
  .splash p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 14px;
  }
h3 {
  font-size: 20px;
}
  .about h3 {
    padding-top: 0px;
  }
  .about h4 {
    font-size: 14px;
  }
  .about p {
    font-size: 14px;
    text-align: left;
  }
.container header nav {
  visibility: collapse;
}
header nav ul {
}
nav ul li {
}
  .research .research_column {
    margin: 0px;
    width: 100%;
  }
  .research .research_column h4 {
    font-size: 16px;
    font-weight: 300;
  }
  .research .research_column p {
    font-size: 14px;
    text-align: left;
  }
  .publications h4 {
    font-size: 18px;
  }
  .publications p {
    font-size: 14px;
  }
  .outreach .summary p {
    font-size: 14px;
    width: 80%;
  }
  .outreach .gallery {
    display: inline-block;
  }
  .outreach .gallery .thumbnail {
    width: 100%;
    margin-bottom: 15px;
  }
  .skills table th {
    font-size: 14px;
  }
  .skills table td {
    font-size: 12px;
  }
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.container header nav {
  visibility: collapse;
}
/*.container header nav {
	margin: 0px;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #2D9AB7;
  visibility: hidden;
  width: 0px;
  width: 100%;
}
header nav ul {
	padding: 0px;
	float: none;
  visibility: hidden;
  width: 0px;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
  width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
  visibility: hidden;
  width: 0px;
}*/
.research_column {
	margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 20px;
}
.outreach .gallery .thumbnail {
	width: 45%;
	margin-right: 2%;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.research_column {
	margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 20px;
}
.outreach .gallery .thumbnail {
	width: 45%;
	margin-right: 2%;
}
}
